.box-player {
    background-color: white;
}
.box-players {
    display: flex;
    flex-wrap: wrap;
    
}

.cancel-button, .done-button {
    width: 40%;
}
.buttons {
    display: flex;
    justify-content: space-around;
}