@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  margin: 0;
  background: linear-gradient(to right, #A36DF7, #6D64ED);
  font-family: 'Poppins', sans-serif;
}
.App {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}